/*Хедер*/

header {
    transition: 0.4s all; /* плавное движение */
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 25px;
    justify-content: center;
    background-color: transparent;
    /*background-color: #000918;*/
}

/*Контейнер лого*/

#menu-icon{
    font-size: 35px;
    color: white;
    display: none;
    transition: .5s;
}

.header-container{
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: auto;
    display: flex;
}

.img-logo{
    width: 50px;
    border-radius: 15px;
}

.logo-text-bottom {
    margin-bottom: 0;
}

/*Контейнер текст*/

.header-nav-li{
    list-style: none;
    display: inline-block;
    margin-top: 15px;
}

.a-nav{
    height: 50px;
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-weight: bolder;
    border-bottom: 2px solid transparent;
    transition: .5s;
    font-size: 20px;
}

.header-nav-li .a-nav:hover,
.header-nav-li .a-nav:focus{
    color: #b3f1d1;
    border-bottom: 2px solid #87dad5;
}

.btn-nav{
    margin-left: 50px;
    background-color: #3a713b;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-weight: bolder;
}

.btn-nav:hover{
    background-color: #4bb44d;
    transition: 0.5s;
}

.btn-nav:not(:hover){
    background-color: #3a713b;
    transition: 0.5s;
}

@media (max-width: 950px) {

    #menu-icon{
        display: flex;
        animation: fade-in .5s;
    }

    @keyframes fade-in {
        from {opacity: 0}
        to {opacity: 1}
    }

    .nav-list{
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        margin-top: 32px;
        right: -100%;
        width: 200px;
        height: 300px;
        transition: all .5s ease;
        background: white;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        border-left: 1px solid rgba(128, 128, 128, 0.5);
        border-bottom-left-radius: 25px;
    }

    .header-nav-li{
        margin-left: -32px;
        align-items: center;
        margin-top: 10px;
        border-radius: 10px;
        transition: .5s;
        padding: 5px 0;
    }

    .a-nav{
        display: flex;
        margin-right: 50px;
        color: white;
    }

    .header-nav-li:hover > .list-container{
        display: none;
    }

    .btn-nav,
    .btn-nav-basket{
        margin: 0;
    }

    .nav-list.open{
        right: 0;
    }

    #wrong-reg,
    #wrong-data{
        font-size: 15px;
    }
}
